@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;1,300&display=swap');

:root {
    --primary-color: #8B5CF6;
}
   
body {
    font-family: 'Noto Sans', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding:0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
} 
.Primary-link {
   background-color: #8B5CF6;
   border-radius: 0.5rem;
   color: white;
}
.secondary-link {
    color: #8B5CF6;
    border-radius: 0.5rem;
    border: 1px solid;
}
