@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;1,300&display=swap');

:root {
    --primary-color: #8B5CF6;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.Primary-link {
    background-color: #8B5CF6;
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: #8B5CF6;
    border-radius: 0.5rem;
    border: 1px solid;
}

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: #8B5CF6;
    color: aliceblue;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: gray;
    text-align: center;
}

.highlight-heading {
    color: #8B5CF6;
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: #E5E7EB;
    border-radius: 1rem;
}

.footer {
    background-color: #8B5CF6;
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: white;
}

.footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer .ul {
    padding-inline-start: 0px;
}